.additional {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 18px;
  }
}

.additional__title {
  position: relative;
  font-family: $font-custom;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: calc(50vw - 140px);
    width: calc(50vw + 140px);
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 100%;
      left: 0;
      top: 21px;
    }
  }
}

.additional__title-text {
  display: block;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 81px;
  }

  span {
    position: relative;
    display: inline-flex;
    background-color: $white;
    padding-right: 23px;
    z-index: 1;

    @media (min-width: $tablet-width) {
      padding: 0 37px;
    }

    @media (min-width: $tablet-width) {
      margin-left: -37px;
    }
  }
}

.additional__list {
  padding: 0;
  margin: 0;
  padding-bottom: 39px;

  @include list-style;

  @media (min-width: $tablet-width) {
    padding-bottom: 69px;
  }
}

.additional__item {
  padding: 11px 0 19px;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 31px 38px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.additional__text {
  display: inline-block;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__description {
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 9px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-left: auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  dd {
    margin: 0;

    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 120px;
    }
  }

  &--milk {
    dd {
      @media (min-width: $desktop-width) {
        margin-left: 196px;
      }
    }
  }

  &--water {
    dd {
      @media (min-width: $desktop-width) {
        margin-left: 188px;
      }
    }
  }

  &--sugar {
    dd {
      @media (min-width: $desktop-width) {
        margin-left: 114px;
      }
    }
  }
}

.additional__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    margin-left: 38px;
    width: 244px;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}
