.additional__title {
  font-family: $font-custom;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 0;
  margin-bottom: 36px;
}

.additional__list {
  margin: 0;
  padding: 0;
}

.additional__item {
  padding: 13px 20px 19px 20px;
}

.additional__text {
  display: inline-block;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additional__description {
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 15px;

  dd {
    margin: 0;
  }
}

.additional__button {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}
