.additional__title {
  font-family: $font-custom;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  margin: 0;
  margin-bottom: 36px;
  padding-left: 20px;
}

.additional__list {
  @include list-style;
}

.additional__item {
  padding: 13px 0 19px;

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    display: grid;
  }
}

.additional__text {
  display: inline-block;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.additional__description {
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  dd {
    margin: 0;
  }
}

.additional__button {
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;
}
