.additional {
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.additional__title {
  font-family: $font-custom;
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: $black;
  margin: 0;
  margin-bottom: 36px;
}

.additional__title-text {
  display: block;
}

.additional__list {
  padding: 0;
  margin: 0;
  padding-bottom: 39px;

  @include list-style;
}

.additional__item {
  padding: 13px 0 19px;
  border-top: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    padding: 26px 38px;
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid $special-grey;
    border-right: 1px solid $special-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 17px;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.additional__text {
  display: inline-block;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;
  text-transform: uppercase;
  margin-bottom: 13px;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.additional__description {
  font-size: 14px;
  line-height: 14px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

  dd {
    margin: 0;

    @media (min-width: $tablet-width) {
      margin-left: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 120px;
    }
  }
}

.additional__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 109px;

  @media (min-width: $desktop-width) {
    align-items: flex-end;
    margin-left: 38px;
    width: auto;
  }
}

.additional__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 245px;
    column-gap: 80px;
  }
}
