.example {
  padding-top: 27px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 75px;
  }
}

.example__title {
  font-family: $font-custom;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}

.example__list {
  @include list-style;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    margin: 0;


    li:first-child {
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  @media (min-width: $tablet-width) {
    margin-left: 129px;
  }
}

.example__value {
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 6px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__article {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/2;
    grid-column: 1/1;
  }
}

.example__result {
  font-family: $font-custom;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;

  dd {
    margin-left: 3px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;

    dd {
      margin: 0;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;

    dd {
      margin-left: 63px;
    }
  }
}

.example__wrapper {
  background-color: $special_light-grey;
}

.example__menu {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "example__header example__slider"
      "example__article example__slider";
  }
}

.example__header {
  @media (min-width: $desktop-width) {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/2;
  }
}
