.example {
  padding-top: 27px;
  padding-bottom: 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    padding-bottom: 64px;
    background-image: linear-gradient(to bottom, $white 622px, $special_light-grey 222px);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: $border2;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 12px;
    padding-bottom: 75px;
    background-image: linear-gradient(to bottom, $white 146px, transparent 146px),
      linear-gradient(to right, $basic-grey calc(50% + 325px), $special_light-grey calc(50% + 325px));

    &::before {
      display: none;
    }
  }
}

.example__title {
  font-family: $font-custom;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 70px;
    padding-right: 144px;
  }
}

.example__list {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @include list-style;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  width: 124px;
  margin-left: 32px;
  border: 1px solid $special-grey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-left: 40px;
  }
}

.example__value {
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
  text-align: center;
  padding-top: 15px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.example__description {
  width: 87px;
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  margin: 0;
  text-align: center;
  margin-bottom: -17px;
  background-color: $special_light-grey;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: 141px;
    background-color: $white;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: -6px;
    padding: 0 7px;

    &--padding {
      width: 114px;
      padding: 0 7px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-grey;
  }
}

.example__article {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/2;
    grid-column: 1/1;
    margin: 0;
  }
}

.example__result {
  font-family: $font-custom;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;

  dd {
    margin-left: 3px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;

    dd {
      margin: 0;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;

    dd {
      margin-left: 63px;
    }
  }
}

.example__wrapper {
  background-color: $special_light-grey;
}

.example__menu {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.example__header {
  @media (min-width: $desktop-width) {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.example__slider {
  position: relative;

  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/2;
  }
}

.example__actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__image {
  text-align: center;
  margin-bottom: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    height: 537px;
    margin-bottom: -6px;
  }

  @media (min-width: $desktop-width) {
    height: 536px;
    margin: 0;
    margin-top: -47px;
    margin-bottom: 9px;
  }
}

.example__image--before {
  @media (min-width: $tablet-width) {
    position: absolute;
    clip: rect(auto, 345px, auto, auto);
  }

  @media (min-width: $desktop-width) {
    clip: rect(auto, 323px, auto, auto);
  }
}

.example__image--after {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    position: absolute;
    clip: rect(auto, auto, auto, 345px);
  }

  @media (min-width: $desktop-width) {
    clip: rect(auto, auto, auto, 323px);
  }
}

.example__picture {
  height: 232px;

  @media (min-width: $tablet-width) {
    height: auto;
  }
}

.example__button {
  font-family: $font-custom;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  background-color: inherit;
  text-transform: uppercase;
  padding: 0;
  border: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $black;
  }

  &:hover {
    border-bottom: 1px solid $black;
  }

  &:active {
    border-bottom: 1px solid transparent;
  }
}

.example__scale {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $special-grey;
  border-radius: 6px;
  background-color: $white;
  margin-left: 18px;
  margin-right: 18px;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $scale-color;
    border: none;
  }
}

.example__range {
  &::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 6px;
    background-color: $basic-green;
    border-radius: 6px;
    top: 3px;
    left: 8px;
    cursor: pointer;

    @media (min-width: $tablet-width) {
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      top: 12px;
      left: 12px;
    }
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 34px;
    height: 34px;
    padding: 0;
    border: 1px solid $special-grey;
    background-color: $white;
    border-radius: 50%;
    top: -15px;
    left: 47%;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.15);
    }

    &:active {
      border: 1px solid $basic-green;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.25);
    }
  }

  @media (min-width: $desktop-width) {
    left: 51%;
  }
}
