.example {
  padding-top: 27px;
  padding-bottom: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 43px;
    padding-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 69px;
    padding-bottom: 75px;
  }
}

.example__title {
  font-family: $font-custom;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}

.example__list {
  width: 278px;
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 24px;

  @include list-style;


  @media (min-width: $tablet-width) {
    margin: 0;


    li:first-child {
      margin-left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.example__item {
  @media (min-width: $tablet-width) {
    margin-left: 129px;
  }
}

.example__value {
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 9px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 6px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 11px;
  }
}

.example__description {
  font-size: 12px;
  line-height: 12px;
  color: $special_dark-grey;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.example__article {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2/2;
    grid-column: 1/1;
  }
}

.example__result {
  font-family: $font-custom;
  color: $black;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;

  dd {
    margin-left: 3px;
  }

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
    font-size: 20px;
    line-height: 20px;

    dd {
      margin: 0;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    margin: 0;

    dd {
      margin-left: 63px;
    }
  }
}

.example__wrapper {
  background-color: $special_light-grey;
}

.example__menu {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "example__header example__slider"
      "example__article example__slider";
  }
}

.example__header {
  @media (min-width: $desktop-width) {
    grid-row: 1/1;
    grid-column: 1/1;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    grid-row: 1/2;
    grid-column: 2/2;
  }
}

.example__actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example__article {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
  }
}

.example__image {
  text-align: center;
  margin-bottom: 35px;
}

.example__button {
  color: $black;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  &--before {
    margin-right: 15px;
  }

  &--after {
    margin-left: 15px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted $black;

    &--before {
      margin-right: 24px;
    }

    &--after {
      margin-left: 24px;
    }
  }
}

.example__scale {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid $basic-grey;
  border-radius: 6px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    background-color: $scale-color;
    border: none;
  }
}

.example__scale .example__range {
  position: absolute;
  width: 35px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  top: 3px;
  left: 10px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    padding: 0;
    border: 13px solid $white;
    background-color: $basic-green;
    border-radius: 50%;
    top: -15px;
    left: 50%;
  }
}
