.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer__info {
  background-color: $basic-grey;
  padding-top: 39px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__title {
  font-family: $font-default;
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.footer__logo {
  display: block;
  padding: 0 0 32px;
  border-bottom: 1px solid $border;

  &-image {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.footer__link {
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__contacts {
  padding-top: 28px;
  padding-bottom: 28px;


  @media (min-width: $tablet-width) {
    padding-top: 65px;
    padding-bottom: 62px;
    background-color: $basic-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: transparent;
  }
}
