.footer {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.footer__info {
  background-color: $basic-grey;
  padding-top: 37px;
  padding-bottom: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 58px;
  }
}

.footer__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__wrapper-contacts {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding: 0 67px;
  }
}

.footer__title {
  font-family: $font-default;
  color: $special_dark-grey;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-bottom: 5px;
  }
}

.footer__logo {
  display: block;
  padding: 0 0 32px;
  border-bottom: 1px solid $border;

  &-image {
    display: block;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.footer__link {
  color: $icons-color;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    margin-left: 22px;
  }

  &:hover {
    color: $basic-green;

    svg {
      fill: $basic-green;
    }
  }

  &:active {
    color: rgba($basic-green, 0.3);

    svg {
      fill: rgba($basic-green, 0.3);
    }
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  padding-top: 21px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.footer__contacts {
  padding-top: 31px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-top: 67px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    background-color: transparent;
  }

  &--form {
    background-color: $basic-grey;
  }
}


.footer__icon {
  fill: $icons-color;

  &:hover {
    fill: $basic-green;
  }

  &:active {
    fill: rgba($basic-green, 0.3);
  }

  &--vk {
    width: 22px;
    height: 13px;

    @media (min-width: $tablet-width) {
      width: 29px;
      height: 17px;
    }
  }

  &--insta {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 10px;
    height: 18px;

    @media (min-width: $tablet-width) {
      width: 13px;
      height: 27px;
    }
  }

  &--academy {
    width: 27px;
    height: 34px;
  }
}
