.form {
  padding: 27px 0 32px;
}

.form__title {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;


  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__slogan {
  font-family: $font-custom;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 39px;


  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  &--radio {
    border-bottom: 1px solid $border;
    padding-top: 22px;

    @media (min-width: $tablet-width) {
      border: none;
    }

    @media (min-width: $desktop-width) {
      width: 596px;
      padding: 0;
    }
  }

  &--contacts {
    border-bottom: 1px solid $border;

    @media (min-width: $tablet-width) {
      border: none;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: column;
      width: 596px;
      padding: 0;
      margin-right: 80px;
    }
  }
}

.form__label {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-right: 13px;

  &--radio {
    color: $special_dark-grey-2;
    margin: 0;
  }

  &--checkbox {
    color: $black;
    margin-left: 16px;
    margin-right: 0;
  }
}

.form__input {
  flex-grow: 1;
  font-family: $font-custom;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 19px 14px 15px;
  border: 1px solid $inner-border;
  color: $special_dark-grey;

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    padding-top: 20px;
    padding-bottom: 25px;
    border: 1px solid $border;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      border: none;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

.form__item {
  margin-bottom: 10px;

  &--radio {
    margin-bottom: 25px;
  }

  &--checkbox {
    margin-bottom: 27px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend {
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  &--contacts {
    padding-top: 26px;
  }
}

.form__legend-text {
  display: block;
}

.form__textarea {
  font-family: $font-custom;
  color: $special_dark-grey;
  border: 1px solid $inner-border;
  resize: none;
  height: 150px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 15px 0;
  width: 100%;

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;
  }
}

.form__info {
  color: $black;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;

  @media (min-width: $desktop-width) {
  text-align: left;
  padding-left: 81px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
    padding: 16px 35px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    padding: 0 67px;
  }

  &--info {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &--contacts {
    @media (min-width: $desktop-width) {
      width: 569px;
      padding: 0;
    }
  }

  &--radio {
    @media (min-width: $desktop-width) {
      width: 569px;
      padding: 0;
    }
  }
}

.form__field {
    margin: 0;
    margin-bottom: 14px;
    display: flex;
    align-items: center;

    @media (min-width: $tablet-width) {
      margin-bottom: 20px;
    }

    &:last-child {
      margin-bottom: 0;
    }


    &--desktop {
      @media (min-width: $desktop-width) {
        width: 569px;
        margin-right: 80px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
}

.form__wrapper-desktop {
  @media (min-width: $desktop-width) {
    display: flex;
    padding: 0 110px;
  }
}
