.form {
  overflow-x: hidden;
  padding: 24px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 61px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0 82px;
  }
}

.form__title {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;

  &::before {
    content: "";
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__slogan {
  font-family: $font-custom;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 64px;
  }
}

.form__group {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;
  }

  &--contacts {
    padding-bottom: 19px;

    @media (min-width: $tablet-width) {
      padding-bottom: 40px;
    }
  }


  &--comment {
    padding-bottom: 26px;

    @media (min-width: $tablet-width) {
      padding-bottom: 64px;
    }
  }

  &--checkbox {
    padding-bottom: 37px;
  }

  &--radio {

    padding-top: 29px;
    padding-bottom: 20px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after,
    &::before {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--radio,
  &--contacts {
    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      padding: 0;
    }
  }
}

.form__label {
  position: relative;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      margin-right: 23px;
    }

    @media (min-width: $desktop-width) {
      margin-right: 20px;
    }
  }

  &--email {
    margin-right: 7px;

    @media (min-width: $tablet-width) {
      margin-right: 19px;
    }
  }

  &--radio {
    color: $special_dark-grey-2;
    margin: 0;
    padding-left: 46px;
  }

  &--checkbox {
    color: $black;
    padding-left: 46px;
    margin-right: 0;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }
}

.form__input {
  flex-grow: 1;
  font-family: $font-custom;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 19px 14px 15px;
  border: 1px solid $inner-border;
  color: $special_dark-grey;
  outline: none;

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 12px 17px 15px 17px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    box-shadow: 0 0 0 1px $black;
    border: 1px solid $black;
  }

  &--error {
    flex-grow: 1;
    font-family: $font-custom;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    padding: 13px 19px 14px 15px;
    border: 1px solid $error-color;
    color: $special_dark-grey;
    box-shadow: 0 0 0 1px $error-color;
    outline: none;

    &::placeholder {
      color: $special_dark-grey;
      font-size: 16px;
      line-height: 18px;
    }

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
      padding: 12px 17px 15px 17px;

      &::placeholder {
        font-size: 20px;
        line-height: 30px;
      }
    }
  }
}

.form__input--email:disabled,
.form__input--phone:disabled {
  border: 1px solid $black;
  box-shadow: 0 0 0 1px $black;
}

.form__input--email:disabled + .form__field-image,
.form__input--phone:disabled + .form__field-image {
  fill: $basic-green;
}

.form__list {
  margin: 0;
  padding: 0;

  @include list-style;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-top: 29px;
    padding-bottom: 25px;
    border: 1px solid $border;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 42px 57px;
      border: none;
      padding: 0;
      padding-bottom: 24px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 0;
      gap: 78px;
      padding-bottom: 30px;
    }
  }
}

.form__item {
  position: relative;
  margin-bottom: 10px;

  &--radio {
    margin-bottom: 25px;
  }

  &--checkbox {
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend {
  position: relative;
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;

  &::after {
    position: absolute;
    content: "";
    top: 16px;
    left: calc(50vw - 140px);
    width: calc(50vw + 140px);
    height: 2px;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      width: 100%;
      top: 20px;
      left: 0;
    }

    @media (min-width: $desktop-width) {
      top: 23px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
  }

  &--contacts {
    padding-top: 54px;

    &::after {
      position: absolute;
      top: 41px;
      z-index: 2;
      left: calc(50vw + 60px);
      width: calc(50vw - 60px);

      @media (min-width: $tablet-width) {
        width: 100%;
        top: 76px;
        left: 0;
        z-index: 0;
      }

      @media (min-width: $desktop-width) {
        top: 85px;
      }
    }

    @media (min-width: $desktop-width) {
      padding-top: 62px;
    }
  }

  &--checkbox {
    margin-bottom: 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 61px;
    }
  }
}

.form__legend-text {
  display: block;

  span {
    position: relative;
    display: inline-flex;
    background-color: $white;
    padding-right: 24px;
    z-index: 1;


    @media (min-width: $tablet-width) {
      padding: 0 40px;
      margin-left: -40px;
    }
  }
}

.form__textarea {
  font-family: $font-custom;
  color: $special_dark-grey;
  border: 1px solid $inner-border;
  resize: none;
  height: 150px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 13px 0;
  width: 100%;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 9px 19px 0;
    height: 174px;
  }

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__info {
  color: $black;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    text-align: left;
    padding-left: 31px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 41px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 282px;
    font-size: 20px;
    margin-bottom: 0;
    padding: 16px 35px;
  }

  @media (min-width: $desktop-width) {
    width: 568px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding: 0 67px;
  }

  &--info {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &--contacts,
  &--radio {
    padding: 0;

    @media (min-width: $desktop-width) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.form__field {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      margin-bottom: 0;
    }
  }
}

.form__field-image {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  &--email {
    width: 20px;
    height: 14px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 13px;
    }
  }

  &--email-disabled,
  &--phone-disabled {
    fill: $basic-green;
  }

  &--email-error,
  &--phone-error {
    fill: $error-color;
  }

  &--phone {
    width: 20px;
    height: 20px;
  }
}

.form__item--checkbox,
.form__item--radio {
  position: relative;
}

.form__input--checkbox + .form__label--checkbox::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
    left: 2px;
  }
}

.form__input--checkbox + .form__label--checkbox::after {
  display: none;
  position: absolute;
  content: "";
  top: 7px;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 10px;
    left: 13px;
  }
}

.form__input--checkbox:checked + .form__label--checkbox::after {
  display: block;
}

.form__input--radio + .form__label--radio::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    top: -4px;
    left: -13px;
  }

  @media (min-width: $desktop-width) {
    top: -5px;
    left: -18px;
  }
}

.form__input--radio + .form__label--radio::after {
  display: none;
  position: absolute;
  content: "";
  top: 4px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-image: url("../img/radiobutton_active.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    background-image: url("../img/radiobutton_active-big.svg");
    top: 7px;
    left: -2px;
  }

  @media (min-width: $desktop-width) {
    left: -7px;
    top: 6px;
  }
}

.form__input--radio:checked + .form__label--radio::after {
  display: block;
}

.form__input--checkbox:hover + .form__label--checkbox::before,
.form__input--radio:hover + .form__label--radio::before {
  border: 1px solid $checkbox-hover;
}

.form__input--checkbox:disabled + .form__label--checkbox::after,
.form__input--checkbox:disabled + .form__label--checkbox::before,
.form__input--radio:disabled + .form__label--radio::after,
.form__input--radio:disabled + .form__label--radio::before {
  opacity: 0.3;
}
