.form {
  padding: 27px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 75px 0 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 87px 0 82px;
  }
}

.form__title {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 37px;

  &::before {
    content: "";
    position: absolute;
    top: 53px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: #d9d9d9;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }
}

.form__slogan {
  font-family: $font-custom;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black;
  font-weight: normal;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}

.form__group {
  margin: 0;
  padding: 0;
  border: none;
  padding-bottom: 24px;

  &--radio,
  &--contacts {
    padding-top: 22px;

    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
      padding: 0;
    }
  }
}

.form__label {
  position: relative;
  font-family: $font-custom;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special_dark-grey;
  margin-right: 13px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &--radio {
    color: $special_dark-grey-2;
    margin: 0;
    padding-left: 46px;
  }

  &--checkbox {
    color: $black;
    padding-left: 46px;
    margin-right: 0;

    @media (min-width: $tablet-width) {
      padding-left: 60px;
    }
  }
}

.form__input {
  flex-grow: 1;
  font-family: $font-custom;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 19px 14px 15px;
  border: 1px solid $inner-border;
  color: $special_dark-grey;
  outline: none;

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::placeholder {
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover {
    border: 1px solid $special-grey;
  }

  &:focus {
    border: 1px solid $black;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  @include list-style;

  @media (min-width: $tablet-width) {
    padding-left: 27px;
    padding-top: 20px;
    padding-bottom: 25px;
    border: 1px solid $border;
  }

  &--checkbox {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 32px 124px;
      border: none;
      padding: 0;
      padding-bottom: 59px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 0;
      gap: 111px;
    }
  }
}

.form__item {
  position: relative;
  margin-bottom: 10px;

  &--radio {
    margin-bottom: 25px;
  }

  &--checkbox {
    margin-bottom: 27px;

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__legend {
  font-family: $font-custom;
  color: $black;
  font-size: 24px;
  line-height: 26px;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }

  &--contacts {
    padding-top: 26px;
  }
}

.form__legend-text {
  display: block;
}

.form__textarea {
  font-family: $font-custom;
  color: $special_dark-grey;
  border: 1px solid $inner-border;
  resize: none;
  height: 150px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  padding: 9px 11px 0;
  width: 100%;
  outline: none;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $special_dark-grey;
    font-size: 16px;
    line-height: 18px;
  }
}

.form__info {
  color: $black;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  text-align: center;

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 81px;
  }
}

.form__button {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;
    padding: 16px 35px;
  }
}

.form__wrapper {

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    padding: 0 67px;
  }

  &--info {
    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &--contacts,
  &--radio {
    padding: 0;

    @media (min-width: $desktop-width) {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}

.form__field {
  position: relative;
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 20px;
    }
  }

  &--desktop {
    @media (min-width: $desktop-width) {
      width: calc(50% - 40px);
    }
  }
}

.form__field-image {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    right: 15px;
  }

  &--email {
    width: 20px;
    height: 14px;

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 13px;
    }
  }

  &--prhone {
    width: 20px;
    height: 20px;
  }
}

.form__item--checkbox,
.form__item--radio {
  position: relative;
}

.form__input--checkbox+.form__label--checkbox::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input--checkbox+.form__label--checkbox::after {
  display: none;
  position: absolute;
  content: "";
  top: 3px;
  left: 7px;
  width: 18px;
  height: 14px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    top: 9px;
    left: 11px;
  }
}

.form__input--checkbox:checked+.form__label--checkbox::after {
  display: block;
}

.form__input--radio+.form__label--radio::before {
  position: absolute;
  content: "";
  top: -4px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $special-grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.form__input--radio+.form__label--radio::after {
  display: none;
  position: absolute;
  content: "";
  top: 4px;
  left: 8px;
  width: 14px;
  height: 14px;
  background-image: url("../img/radiobutton_active.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    background-image: url("../img/radiobutton_active-big.svg");
    top: 7px;
    left: 11px;
  }
}

.form__input--radio:checked+.form__label--radio::after {
  display: block;
}
