.main-nav {
  position: relative;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-left: auto;
  }
}

.main-nav__list {
  padding: 0;
  margin: 0;
  text-decoration: none;

  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.main-nav__link {
  font-family: $font-custom;
  color: $black;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;

    &--main {
      color: $white;
    }

  }
}

.main-nav__item {
  position: relative;
  text-align: center;
  padding: 24px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $border2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}
