.main-nav {
  position: relative;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
  }
}



.main-nav__list {
  padding: 0;
  margin: 0;
  text-decoration: none;

  @include list-style;

  @media (min-width: $tablet-width) {
    display: flex;
    width: 440px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $border2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__link {
  font-family: $font-custom;
  color: $black;
  text-decoration: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 138px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $border2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__item {
  text-align: center;
  padding: 24px 0 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 68px;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $border2;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-nav__list li:last-child {
  margin: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: -20px;
  z-index: 2;
  display: block;
  width: 19px;
  background-color: transparent;
  height: 19px;
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 15px;
  width: 24px;
  height: 1.5px;
  background-color: $black;
  box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
}

.main-nav--opened .main-nav__toggle {
  top: 0;
  right: auto;
  left: 0;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: 261px;
    width: 24px;
    height: 1.5px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
