.map {
  height: 362px;
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include retina {
    background-image: url("../img/bg-map-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @include retina {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @include retina {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }

  iframe {
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 400px;
    }
  }
}
