.page-header {
  padding-top: 12px;
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;

    &--background::before {
      position: absolute;
      content: "";
      background-image: url("../img/index-background.jpg");
      height: 694px;
      width: 50%;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }

  &--nojs {
    .page-header__toggle {
      display: none;
    }

    .page-header__nav {
      display: block;
    }
  }

  &--opened {
    .page-header__nav {
      display: block;
    }

    .page-header__toggle {
      top: 23px;
      height: 20px;
      background-image: url("../img/close_menu.svg");
      background-size: 20px;
    }
  }
}

.page-header__logo {
  display: block;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  img:hover {
    opacity: 0.6;
  }

  img:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  z-index: 2;
  width: 25px;
  height: 18px;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  background-image: url("../img/burger_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 18px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
