.page__body {
  font-family: $font-default;
  font-size: 14px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: $special_dark-grey;
}

.page__main--title {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }
}
