.present {
  background-image: url("../img/present.jpg");
  width: 289px;
  height: 280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 200px;
  }
}

.present__title {
  padding: 186px 61px 43px 58px;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 71px 124px 69px 423px;
  }
}
