.present {
  position: relative;
  height: 289px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 186px;
  padding-bottom: 43px;
  background-color: $basic-green;

    @include retina {
      background-image: url("../img/gift-photo-mobile@2x.jpg");
    }


  @media (min-width: $tablet-width) {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    padding-top: 71px;
    padding-bottom: 69px;
    height: 200px;


    @include retina {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    height: 289px;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    margin-left: auto;
    padding: 0;

    @include retina {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }
}

.present__title {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 423px;
  }

  @media (min-width: $desktop-width) {
    padding: 184px 43px 42px 41px;
  }
}

.present__image {
  position: absolute;
  top: 20%;
  left: 35%;

  @media (min-width: $tablet-width) {
    top: 30%;
    left: 10%;
  }

  @media (min-width: $desktop-width) {
    top: 20%;
    left: 33%;
  }
}
