.primary-button {
  font-family: $font-custom;
  color: $white;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  height: 40px;
  text-transform: uppercase;
  background-color: $basic-green;
  border: none;
  cursor: pointer;
}
