.product-card {
  padding: 19px 0 25px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0;
  }
}

.product-card__title {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey-2;
  margin: 0;
  margin-bottom: 14px;

  a {
    font-family: $font-custom;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: $special_dark-grey-2;
  }
}

.product-card__container {
  margin-left: auto;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
