.products {
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 65px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 76px;
  }
}

.products__list {
  margin: 0;
  padding: 0;

  @include list-style;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 77px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 70px 77px;
  }
}
