.product-card {
  position: relative;
  padding: 19px 0 25px;
  display: flex;
  flex-wrap: wrap;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -50vw;
    width: 100vw;
    height: 1px;
    background-color: $border2;
  }


  @media (min-width: $tablet-width) {
    flex-direction: column;
    padding: 0 39px 40px;
    background: linear-gradient($white 18%, $basic-grey 18%);

    &::before,
    &::after {
      display: none;
    }
  }

  &--show-more {
    @media (min-width: $tablet-width) {
      border: 2px solid $basic-grey;
      background: none;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: $border2;

      @media (min-width: $tablet-width) {
        display: block;
        top: -2px;
        left: -2px;
        width: calc(100% + 4px);
        border-bottom: 2px solid $basic-grey;
        background-color: $white;
        margin-left: 0;
        height: 94px;
      }
    }
  }
}

.product-card__title {
  font-family: $font-custom;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_dark-grey-2;
  margin: 0;
  margin-bottom: 14px;

  a {
    font-family: $font-custom;
    font-size: 16px;
    line-height: 20px;
    font-weight: normal;
    color: $special_dark-grey-2;
  }

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 21px;

    a {
      font-size: 20px;
      line-height: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    a {
      font-size: 20px;
      line-height: 21px;
    }
  }
}

.product-card__container {
  flex-grow: 1;
  margin-left: 36px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
  }
}

.product-card__image {
  display: flex;
  align-items: center;
  align-self: center;
  width: 84px;
  height: 100px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
    width: 100%;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 42px;
    height: 196px;
  }
}

.products-card__button {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: auto;

  &--show-more {
    font-size: 16px;
    line-height: 20px;
    color: $special_dark-grey;
    background-color: $basic-grey;
  }
}
