.program {
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 71px;
  }
}

.program__title {
  font-family: $font-custom;
  color: $black;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    text-align: left;
    margin-bottom: 24px;
  }
}

.program__link {
  font-family: $font-custom;
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  padding: 4px 49px 4px 0;
}

.program__item {
  margin: 0;
  padding: 21px 33px 18px 19px;
  margin-bottom: 20px;
  background-color: $basic-grey;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 41px 51px 55px 52px;
    width: 570px;
    margin: 0;


    &:last-child {
      margin-right: 0;
    }
  }

}

.program__description {
  font-family: $font-default;
  color: $black;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 52px;
  }
}

.program__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
