.promo {
  position: relative;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.promo__wrapper {
  text-align: center;

  &::before {
    position: absolute;
    z-index: -1;
    content: url(../img/promo-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 50%;
    transform: translateX(50%);
    height: 302px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 87px;
    padding-top: 22px;
    padding-right: 207px;

    &::before {
      content: none;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    padding-left: 190px;
    padding-right: 836px;
    padding-top: 124px;
  }
}

.promo__slogan {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    margin-bottom: 41px;
    padding: 0;
  }

}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-right: 245px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 244px;
  }
}

.promo__intro {
  font-family: $font-custom;
  text-transform: uppercase;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {

  @media (min-width: $tablet-width) {
    position: absolute;
    z-index: -1;
    width: 709px;
    height: 609px;
    background-image: url("../img/can-tablet.png");

    img {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }

}
