.promo {
  margin-bottom: 22px;
}

.promo__header {
  text-align: center;
  margin: 0;
  padding: 27px 35px 29px 36px;
  background-image: url(../img/promo-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    padding-left: 87px;
    padding-right: 207px;
  }
}

.promo__slogan {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  margin: 0;
  padding: 0;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 60px;
    color: $black;
    padding: 0;
    padding-bottom: 41px;
    text-align: left;
  }
}


.promo__intro {
  font-family: $font-custom;
  text-transform: uppercase;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin-bottom: 49px;
  }
}


.promo__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 30px;
  }
}
