.promo {
  position: relative;
  padding-bottom: 22px;

  &::before {
    position: absolute;
    z-index: -1;
    content: "";
    background-color: $basic-green;
    background-image: url("../img/promo-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    right: 50%;
    transform: translateX(50%);
    height: 302px;
    width: 320px;


    @media (min-width: $tablet-width) {
      content: none;
    }

    @media (min-width: $desktop-width) {
      content: "";
      background-image: url("../img/index-background.jpg");
      height: 694px;
      width: 50%;
      left: 25%;
      transform: translateX(50%);
      top: -99px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 267px;
  }
}

.promo__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-left: 117px;
    padding-top: 22px;
    padding-right: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    padding-right: 50%;
    padding-top: 124px;
  }
}

.promo__slogan {
  font-family: $font-custom;
  font-size: 36px;
  line-height: 36px;
  color: $white;
  margin: 0;
  margin-bottom: 25px;
  padding-top: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    color: $black;
    text-align: left;
    margin-bottom: 41px;
    padding: 0;
  }
}

.promo__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    margin-right: 245px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 244px;
  }
}

.promo__intro {
  font-family: $font-custom;
  text-transform: uppercase;
  color: $white;
  font-size: 14px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 302px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $black;
    text-align: left;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__image {
  position: absolute;
  z-index: -1;
  right: 50%;
  top: 34%;
  transform: translateX(50%);

  @media (min-width: $tablet-width) {
    top: 76%;
    right: 54%;
  }

  @media (min-width: $desktop-width) {
    top: 2%;
    right: 42%;
  }
}
