.social {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 74px;
  padding-top: 21px;
  padding-bottom: 18px;
  border-bottom: 1px solid $border;

  @media (min-width: $tablet-width) {
    width: 145px;
    padding: 0;
    padding-left: 20px;
    border-bottom: none;
  }
}

.social__item {
  margin-left: 37px;

  &:first-child {
    margin-left: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 29px;

    &:first-child {
      margin-left: 0;
    }
  }
}
