.specification {
  position: relative;
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 57px;
  }
}

.specification__title {
  font-family: $font-custom;
  color: $black;
  font-size: 36px;
  font-weight: normal;
  line-height: 40px;
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.specification__description {
  font-family: $font-default;
  color: $black;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding: 110px 80px 53px 0;
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    padding: 109px 0 57px;
  }
}

.specification__list {
  text-decoration: none;
  margin: 0;
  padding: 0;
  counter-reset: counter;

  @include list-style;

  & li:last-child {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 83px 58px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0;
    gap: 77px;
  }
}

.specification__item {
  position: relative;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    margin: 0;

    &::after {
      font-family: $font-custom;
      counter-increment: counter;
      content: counter(counter);
      position: absolute;
      bottom: -9px;
      right: 84px;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      z-index: -1;

      @media (min-width: $desktop-width) {
        right: 0;
        bottom: -3px;
      }
    }
  }

  &--leaf::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_leaf.svg");
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon_leaf-big.svg");
    }
  }

  &--meal::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_meal.svg");
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon_meal-big.svg");
    }
  }

  &--water::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_water.svg");
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon_water-big.svg");
    }
  }

  &--time::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon_time.svg");
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      background-image: url("../img/icon_time-big.svg");
    }
  }
}
