.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 0 110px;
  }

  &--flex {
    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-self: flex-start;
    }

    &::before {
      content: "";
      position: absolute;
      top: 71%;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after {
      content: "";
      position: absolute;
      top: 91%;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: #d9d9d9;
    }

    &::after,
    &::before {
      @media (min-width: $tablet-width) {
        display: none;
      }
    }
  }

  &--catalog {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -27px;
      left: 50%;
      margin-left: -50vw;
      width: 100vw;
      height: 1px;
      background-color: $border;
    }

    @media (min-width: $tablet-width) {
      &::before {
        display: none;
      }
    }
  }
}
