$black: #000000;
$white: #ffffff;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$basic-green: #68b738;
$special_dark-grey: #444444;

$font-default: "Arial", sans-serif;
$font-custom: "Oswald", "Arial", sans-serif;
