$black: #000000;
$special-black: #111111;
$white: #ffffff;
$basic-grey: #f2f2f2;
$special-grey: #cdcdcd;
$basic-green: #68b738;
$special_dark-grey: #444444;
$special_dark-grey-2: #222222;
$inner-border: #e7e7e7;
$border: #d9d9d9;
$border2: #ebebeb;

$font-default: "Arial", sans-serif;
$font-custom: "Oswald", "Arial", sans-serif;

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;
