@import "global/fonts";
@import "global/global";
@import "global/variables";
@import "blocks/page";
@import "blocks/visually-hidden";
@import "blocks/main-nav";
@import "blocks/promo";
@import "blocks/button";
@import "blocks/programm";
@import "blocks/specification";
@import "blocks/footer";
